html,body {
    font-family:  'Lucida Grande', sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6,p,a {
    margin: 0;
    padding: 0;
}
/* General */
.container {
    padding: 0 80px;
}

.nempel {
    background-color: rgba(255, 255, 255);
    color: #333;
    position: fixed;
    border-bottom: 1px solid gainsboro;
}

/* Navigation */
.navbar {
width: 100%;
background: transparent;
}

.brand {
    float: left;
    padding: 10px 15px;
}

.brand img {
    height: 2.5em;
    height: 2.5em;
}

.nav {
float: right;
padding: 5px 0;
}

.nav-item {
    float:left;
    list-style: none;
    padding-right: 22px;
}

.nav-link {
    color: #333;
    font-weight: 600;
    text-decoration: none;
}

.nav-link:hover{
    color: #333;
    opacity: .5;
}

/* Header */
.header {
    width: 100%;
    height: 65vh;
    justify-content: center;
    padding-top: 180px;
    background-image: url('Header.jpg');
    background-size: cover;
}

.top-wrapper {
    width: 400px;
    height: 240px;
    text-align: center;
    background-color: rgba(51, 51, 51, .5);
    border-radius: 14px;
    margin: 0 auto;
}

.top-wrapper h1 {
    margin: 0 auto;
    padding: 50px 20px 10px 20px;
    color: #fff;
}

.top-wrapper h1 span {
    color: #e4af9f;
}

.top-wrapper p {
    margin: 0 auto;
    padding: 0 34px 37px 34px;
    color: #fff;
}

.btn {
    background-color: #606060;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 0 6px rgb(255, 255, 255, .8);
    text-decoration: none;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.header .btn {
animation: example 1s linear infinite;
}

@keyframes example {
    from { background-color: #606060;}
    to {background-color: #ff8b3d;}
}

.header .btn:hover {
    background-color: #ff8b3d;
    animation: none;
}
    


/* Content */
.content {
    width: 100%;
    min-height: 400px;
    background-color: #ff9d5c;
}

.content .container {
    padding-top: 50px;
    padding-bottom:50px;
}

.text-container {
    text-align: center;
    margin: 0 auto;
}

.title {
    margin-bottom: 5px;
}

.desc {
    margin-top: 7px;
    margin-bottom: 20px;
}

.content-container {
    margin:0 auto;
}

.line {
    text-align: center;
    padding: 20px;
}

.card {
    background-color: rgb(255, 255, 240);
    display: inline-block;
    text-align: center;
    width: 265px;
    height: 100%;
    margin-bottom: 15px;
    margin-right: 10px;
    border-radius: 16px;
}

.card:hover {
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.8);
}

.card-info {
    margin-top: 220px;
    padding: 10px 24px;
    text-align: left;
}

.card-info h1 {
    color: #fff;
    margin-bottom: 5px;
}

.card-info p {
    color: #fff;
    margin-top: 5px;
}

/* Developer */
.developer {
    width: 100%;
    min-height: 400px;
    background-color: rgb(252, 244, 163);
}

.developer .container {
    padding-top: 25px;
    padding-bottom: 50px;
}

.text-developer {
    text-align: center;
    padding: 25px 0;
}

.text-developer h1 {
    margin: 0;
}
.text-developer p {
    margin: 0;
}

.card-container {
    width: 100%;
    text-align: center;
}

.developer .card {
    width: 440px;
    height: 180px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
}

.card-profile{
    padding: 10px 15px;
}

.card-profile  h1 {
    margin-top: 40px;
    margin-bottom: 25px;
}

.btn-instagram {
    background-color: rgb(221, 42, 123);
}
.btn-linkedin {
    background-color: rgb(14, 118, 168);
}

/* Footer */
.footer {
    width: 100%;
    height: 80px;
    background-color: #333;
    color: #fff;
}

.footer-left {
    float: left;
    width: 300px;
}

.footdesc {
padding-top: 19px;
font-weight: 600;
letter-spacing: .6px;
}

.brand-img {
    float: left;
    padding: 16px 18px 10px 18px;
}

.foot-nav {
    float: right;
    margin: 0;
    padding-top: 29px;
    padding-right: 15px;
    font-weight: 500;
    letter-spacing: .8px;
}

.foot-item {
    float: left;
    list-style: none;
}

.foot-link {
    margin: 18px 8px;
    text-decoration: none;
    color: #fff;
}
